.game {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: slategrey;
  width: 120rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90rem;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 60rem;
  }
}
